body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url("../public/glassesImage/background.jpg");
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.top {
  background-color: rgba(223, 215, 215, 0.61);
}
.glass {
  background-color: white;
  height: 500px;
  width: 1200px;
}
.model {
  position: relative;
}
.model-glass {
  position: absolute;
  top: 107px;
  right: 317px;
}
